name: lint and test project

on: push

jobs: 
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: run linter 
        run: make lint

      - name: run tests
        run: make test